ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5000

ConnectionStrings__DefaultConnection=Server=localhost;Port=3306;Database=VeloraDX;User=root;Password=root;

Smtp__Host=smtp.gmail.com
Smtp__Port=587
Smtp__Username=your-email@gmail.com
Smtp__Password=your-app-password
Smtp__FromEmail=noreply@veloradx.com
Smtp__FromName=VeloraDX
